.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding: 10px;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.5s ease, backdrop-filter 0.3s ease;


}
.navbar.scrolled {
  background-color: rgba(12, 12, 12, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 49px;
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navbar-center {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.navbar-center li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-form {
  display: flex;
}

.navbar-input {
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  color: #BCBCBC;
  border: 1px solid #7D7D7D;
  border-radius: 8px;
  background-color: #161616;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease;
}

.navbar-input::placeholder {
  color: #7D7D7D;
}

.navbar-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #111;
  padding: 1rem 2rem;
  border-top: 1px solid #333;
}

.search-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.movie-card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  overflow: hidden;
  width: 160px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(4px);
  color: #ffffff;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.movie-card img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #333;
}

.movie-card p {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.movie-card a {
  text-decoration: none;
  border-bottom: none;
  color: inherit;
}

.movie-card p a {
  text-decoration: none;
  border-bottom: none;
}

.search-results a {
  text-decoration: none !important;
  border-bottom: none !important;
  color: inherit !important;
}